/* Variables */
:root {
  --main-text-color: white;
  --link-highlight-color: #ff6565;
  --button-hover-active-opacity: 0.9;
  --content-max-width: 1000px;
  --main-font-family: "Source Sans Pro", sans-serif;
}

/* Body */

body {
  margin: 0;
  max-width: var(--content-max-width);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  background-image: url("images/headphones_hero_1.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
  text-align: center;
  color: var(--main-text-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 300px;
}

/* Nav section*/

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-list-item a {
  margin: 10px;
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.nav-list-item a:hover,
.nav-list-item a:active {
  color: var(--link-highlight-color);
}
/* mobile button menu creation */
.mobile-nav-button {
  visibility: hidden;
}
.menu-icon {
  visibility: hidden;
}
.header .menu-icon {
  cursor: pointer;
  padding: 2.5rem;
  position: relative;
  user-select: none;
  display: none;
}

header .menu-icon .navicon {
  background: white;
  display: block;
  width: 2rem;
  height: 0.2rem;
  position: relative;
  transition: background 0.2s ease-out;
}
header .menu-icon .navicon::before,
header .menu-icon .navicon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  transition: all 0.2s ease-out;
}
.header .menu-icon .navicon::before {
  top: 0.7rem;
}
header .menu-icon .navicon::after {
  top: -0.7rem;
}

/* title page section */

.title-page {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.title-page-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
}
.title-page-headings {
  margin-top: 200px;
  margin-bottom: 50px;
}
.title-page-headings h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}
.title-page-headings h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.button-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6565;
  color: var(--main-text-color);
  border-radius: 50px;
  font-size: 15px;
  padding: 20px;
  text-transform: uppercase;
  width: 200px;
  height: 70px;
  font-weight: bold;
  box-shadow: 1px 1px 10px black;
  border: none;
  margin-bottom: 100px;
}
.button-action:active,
.button-action:hover {
  opacity: var(--button-hover-active-opacity);
}

.title-page-desc {
  width: 90%;
  font-size: 20px;
}

/* Mobile changes */
@media screen and (max-width: 480px) {
  :root {
    --content-max-width: 480px;
  }
  /* Header changes */
  header {
    flex-direction: column;
    background-position: center;
  }
  .header-logo a img {
    width: 37vw;
    height: 4vh;
  }
  .nav-container {
    padding: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .nav-list {
    flex-direction: column;
    visibility: hidden;
  }
  .nav-list-item a {
    font-size: 12px;
    margin-top: 2px;
  }
  .mobile-nav-button {
    visibility: visible;
  }
  .mobile-nav-button:checked .nav-list-item {
      display: visible;
  }
  .menu-icon {
    visibility: visible;
  }
  .header-logo {
      flex-direction: row;
  }
  .logo-container {
      flex-direction: row;
  }
}
